[*.cs]

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# VSTHRD111: Add .ConfigureAwait(bool) to your await expression
dotnet_diagnostic.VSTHRD111.severity = none

# VSTHRD200: Use "Async" suffix in names of methods that return an awaitable type
dotnet_diagnostic.VSTHRD200.severity = none

[*.verified.txt]
trim_trailing_whitespace = false
