on:
  push:
    branches: [master, release-*]
    tags: ["*.*.*"]
  pull_request:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        job:
          - os: macos-10.15
            build: ./build.sh
          - os: ubuntu-18.04
            build: ./build.sh
            push: true
          - os: windows-2019
            build: ./build.cmd
    name: ${{ matrix.job.os }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - name: setup-dotnet 2.1.811
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: "2.1.811"
      - name: setup-dotnet 3.1.404
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: "3.1.404"
      - name: setup-dotnet 5.0.100
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: "5.0.100"
      - run: dotnet --info
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - run: ${{ matrix.job.build }}
      - name: push
        env:
          API_KEY: ${{ secrets.MYGET_ADAMRALPH_CI_API_KEY }}
        if: matrix.job.push && env.API_KEY != ''
        run: dotnet nuget push **/*.nupkg --source https://www.myget.org/F/adamralph-ci/api/v2/package --api-key ${{ env.API_KEY }}
