name: ci
on:
  push:
    branches: [main, release-*]
  pull_request:
  workflow_dispatch:
permissions: read-all
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  MINVERBUILDMETADATA: build.${{ github.run_id }}.${{ github.run_attempt}}
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: macos
            os: macos-15
          - name: ubuntu
            os: ubuntu-24.04-arm
          - name: windows
            os: windows-11-arm
    name: ${{ matrix.job.name }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: |
            8.0.416
            9.0.308
            10.0.101
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          filter: tree:0
      - run: ./build --logger GitHubActions
      - if: matrix.job.name == 'ubuntu'
        uses: actions/upload-artifact@v4.6.2
        with:
          name: NuGet packages
          path: ./**/*.nupkg
