on:
  push:
    branches:
    - master
    - release-*
    tags:
    - '*.*.*'
  pull_request:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [macOS-10.14, ubuntu-18.04, windows-2019]
    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/setup-dotnet@bb95ce727fd49ec1a65933419cc7c91747785302
      with:
        dotnet-version: '3.0.100'
    - run: dotnet --info
    - uses: actions/checkout@af513c7a016048ae468971c52ed77d9562c7c819
    - if: contains(matrix.runs-on, 'windows')
      run: build.cmd
    - if: contains(matrix.runs-on, 'macOS') || contains(matrix.runs-on, 'ubuntu')
      run: ./build.sh
    - if: matrix.runs-on == 'ubuntu-18.04'
      run: ./push.sh ${{ secrets.MYGET_ADAMRALPH_CI_API_KEY }}
