name: ci
on:
  push:
    branches: [main, release-*]
  pull_request:
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: macos
            os: macos-12
          - name: ubuntu
            os: ubuntu-22.04
          - name: windows
            os: windows-2022
    name: ${{ matrix.job.name }}
    runs-on: ${{ matrix.job.os }}
    steps:
      - uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: |
            3.1.425
            6.0.403
            7.0.100
      - uses: actions/checkout@v3.5.2
        with:
          fetch-depth: 0
      - run: ./build --logger GitHubActions
      - if: matrix.job.name == 'ubuntu'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: NuGet packages
          path: ./**/*.nupkg
