name: lint
on:
  push:
    branches: [main, release-*]
  pull_request:
permissions: read-all
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          filter: tree:0
          persist-credentials: false
      - uses: super-linter/super-linter@47984f49b4e87383eed97890fe2dca6063bbd9c3 # v8.3.1
        env:
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: \bcodeql-analysis\.yml$|\bLICENSE$|\.verified\.txt$
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_DOTNET_SLN_FORMAT_ANALYZERS: false
          VALIDATE_DOTNET_SLN_FORMAT_STYLE: false
          VALIDATE_DOTNET_SLN_FORMAT_WHITESPACE: false
          VALIDATE_JSON_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_YAML_PRETTIER: false
