name: lint
on:
  push:
    branches: [main, release-*]
  pull_request:
permissions: read-all
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          filter: tree:0
      - uses: super-linter/super-linter@v7.2.1
        env:
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: \bcodeql-analysis\.yml$|\bLICENSE$|\boutput.*\.txt$
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSON_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_SHELL_SHFMT: false
          VALIDATE_YAML_PRETTIER: false
