name: release
on:
  push:
    tags: ["*.*.*"]
permissions: read-all
env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  MINVERBUILDMETADATA: build.${{ github.run_id }}.${{ github.run_attempt}}
jobs:
  release:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: 9.0.308
      - uses: actions/checkout@v4.2.2
      - run: dotnet build --configuration Release --nologo
      - name: push
        env:
          SOURCE: ${{ secrets.NUGET_PUSH_SOURCE }}
          API_KEY: ${{ secrets.NUGET_PUSH_API_KEY }}
        if: env.SOURCE != '' || env.API_KEY != ''
        run: dotnet nuget push ./**/*.nupkg --source ${{ env.SOURCE }} --api-key ${{ env.API_KEY }}
