name: release
on:
  push:
    tags: ["*.*.*"]
  workflow_dispatch:
permissions:
  id-token: write
env:
  DOTNET_NOLOGO: true
  MINVERBUILDMETADATA: build.${{ github.run_id }}.${{ github.run_attempt}}
jobs:
  release:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.102
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - run: ./build pack
      - uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1
        id: nuget-login
        with:
          user: ${{ secrets.NUGET_USER }}
      - name: push
        env:
          API_KEY: ${{steps.nuget-login.outputs.NUGET_API_KEY}}
        run: dotnet nuget push ./artifacts/*.nupkg --api-key "$API_KEY" --source https://api.nuget.org/v3/index.json
