on:
  push:
    branches: [main, release-*]
  pull_request:
jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - run: npx cspell@5.2.1 "**/*"
